<style>
  tbody tr td a:hover{
    color: red !important;
  }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table text-center table-hover">
        <thead>
          <tr>
            <h3 class="text-center fs-4 mb-2 mt-2 ">Course Name</h3>
          </tr>
          <hr>
        </thead>
        <tbody>
          <% courses.forEach(course=> { %>
            <tr>
              <td>
                <a href="/attendance/course-id/<%= course._id %>/<%= dashboard %>" class="btn btn-link" style="text-decoration: none; font-size: 18px;">
                  <%= course.name %>
                </a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>